In [2]:
## This is single line comment
# Indentation 
age = 32
if age > 30:
    print("you are old")
else:
    print("you are young")

you are old

In [3]:
#Line Continuation (use a backslash)
total = 1+2+3+4+5+6+7+ \
8+9+10+11 \
+12+13

print(total)

91

In [4]:
#Multiple statement on single line
x=5;y=10;z=x+y
print(z)

15

In [5]:
#Semantic in python
age = 32
name = ("vipul")

In [6]:
type (name)

str

In [8]:
#Type conversion

age_str = str(age) 
type (age_str)

str

In [9]:
age = input("What is the age")
print(age,type(age))

32 <class 'str'>

In [10]:
#concatenate 
result = "hello" + str(5)
print(result)

hello5

In [13]:
#control flow if statement
age = 12
if age < 13:
    print("You are child")
elif age<18:
    print("you are teenage")
else:
    print("you are an adult")

You are child

In [14]:
#Nested Conditional statements if within if

#number even,odd,negative

num = int(input("Enter your number"))

if num >0:
    print("Number is positive")
    if num % 2==0:
        print("It is even number")
    else:
        print("Odd number")

else:
    print("Number is zero or negative")

Number is positive
Odd number

In [ ]:
# Important Use case
# Leap Year

year = int(input("Enter Year Number"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"Is a leap year")
        else:
            print(year,"Is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

1900 Is not a leap year

In [23]:
#Simple Calculator

num1 = float(int(input("Enter First Number")))
num2 = float(int(input("Enter Second Number")))
operation = input("Enter Operation")

if operation == '+':
    result = num1+num2
elif operation== '-':
    result = num1-num2
elif operation == '*':
    result = num1*num2
elif operation == '/':
    if num2!=0:
        result = num1/num2
    else:
        print("Div by zero error")
else:
    print("Wrong operation selected")

print(result)

300.0

In [25]:
#Grading Score

num = int(input("Enter Number"))

if (num > 100 or num < 0):
    print("Invalid Input")
elif num > 90:
    print ("A Grade")
elif num > 80:
    print ("B Grade")
elif num > 70:
    print ("C Grade")
elif num > 60:
    print ("D Grade")
else:
    print ("F Grade")

Invalid Input

In [27]:
#Churn Risk

purchase_count = 8
recency = 100


if (purchase_count >= 10 and recency <= 30):
    print ("Loyal Customer")
elif (purchase_count >= 5 and recency <= 90):
    print("Active Customer")
elif (recency > 90):
    print("Churn Risk Customer")
else:
    print("New")

Churn Risk Customer

In [1]:
#loop
str = "Vipul Mehra"

for i in str:
    print(i)

V
i
p
u
l

M
e
h
r
a

In [3]:
#while loop as long as condition is true

count = 0

while count <5:
    print(count)
    count = count+1

0
1
2
3
4

In [4]:
#Loop Control statement
#break statement exits the loop prematurely

for i in range(10):
    if i == 5:
        break
    print (i)

0
1
2
3
4

In [6]:
#continue

for i in range(20):
    if i%5 ==0:
        continue
    print (i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [8]:
#Nested loops

for i in range(3):
    for j in range(2):
        print (f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [9]:
#calculat sum of fir N natural numbers using while and for loop

#while loop

n = 10
sum = 0
count = 1
while count <= n:
    sum = sum+count
    count = count+1

print ("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [10]:
n = 10
sum = 0
count = 1
for i in range(11):
    sum = sum+i

print ("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [12]:
# Prime number between 1 and 100

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i ==0:
                break
        else:
            print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [13]:
#Write a program to calculate the sum of all numbers from 1 to 100.

sum = 0
for i in range(0,101):
    sum = sum+i

print (sum)

5050

In [19]:
#FActorial

n= 3
result = 1
for i in range (1,n+1):
    result = result*i

print (result)

6

In [24]:
#Print only the sales greater than 1000.
sales = [1200, 800, 950, 3000, 1500, 400, 700]

for sale in sales:
    if sale > 1000:
        print (sale)

1200
3000
1500